In [3]:
import numpy as pd
import pandas as pd

In [8]:
df=pd.read_excel("spam.xlsx")

In [9]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
1229,ham,Jus ans me lar. U'll noe later.,NaN,NaN,NaN
4409,ham,You also didnt get na hi hi hi hi hi,NaN,NaN,NaN
1865,ham,Call to the number which is available in appoi...,NaN,NaN,NaN
1840,ham,Yeah. I got a list with only u and Joanna if I...,NaN,NaN,NaN
3306,ham,Set a place for me in your heart and not in yo...,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB